<div class="w-full h-screen flex flex-col items-center">
    <div class="w-4/5 my-auto grid grid-cols-3 gap-4">
        <div class="bg-gray-900 text-white p-4 rounded-md shadow-md">
            <h3 class="text-center font-bold text-lg">Casiers</h3>
            <div class="my-8 px-2">
                <p>Les casiers judiciaires sont confidentiels. Leur divulgation peut entraîner des sanctions.</p>
                <p>Seuls les gradés de la LSPD peuvent transmettre des informations sur les casiers judiciaires aux
                    avocats
                    et aux juges.
                </p>
            </div>
            <div class="text-center mb-5">
                <a routerLink="/" class="bg-gray-900 border-solid border-2 text-white p-2 rounded-md hover:bg-gray-700">Voir les
                    casiers</a>
            </div>
        </div>
        <div class="bg-gray-900 text-white p-4 rounded-md shadow-md">
            <h3 class="text-center font-bold text-lg">Rapports</h3>
            <div class="my-8 px-2">
                <p>Tous les rapports sont centralisés ici.</p>
                <p>Vous avez accès aux rapports en fonction de votre grade.</p>
                <p>Attention, en lisant un rapport, vous vous engagez à ne pas divulguer les informations contenues dans
                    celui-ci.
                </p>
            </div>
            <div class="text-center mb-5">
                <a routerLink="/" class="bg-gray-900 border-solid border-2 text-white p-2 rounded-md hover:bg-gray-700">Voir les
                    rapports</a>
            </div>
        </div>
        <div class="bg-gray-900 text-white p-4 rounded-md shadow-md">
            <h3 class="text-center font-bold text-lg">Plaintes</h3>
            <div class="my-8 px-2">
                <p>Les plaintes sont confidentielles. Leur divulgation peut entraîner des sanctions.</p>
                <p>Seuls les gradés de la LSPD peuvent transmettre des informations sur les plaintes aux avocats et aux
                    juges.
                </p>
            </div>
            <div class="text-center mb-5">
                <a routerLink="/" class="bg-gray-900 border-solid border-2 text-white p-2 rounded-md hover:bg-gray-700">Voir les
                    plaintes</a>
            </div>
        </div>
        <div class="bg-gray-200 p-4 rounded-md shadow-md">
            <h3 class="text-center font-bold text-lg">Suivi des amendes</h3>
        </div>
        <div class="bg-gray-200 p-4 rounded-md shadow-md">
            <h3 class="text-center font-bold text-lg">Groupes à Los Santos</h3>
        </div>
        <div class="bg-gray-200 p-4 rounded-md shadow-md">
            <h3 class="text-center font-bold text-lg">Répertoire d'enquêtes</h3>
        </div>
    </div>
</div>